{% extends 'plantjournal/base.html' %}

{% block title %}
    Delete Fertilizer Schedule
{% endblock %}

{% block content %}
    <form
        action="{{ fertilizer.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            fertilizer schedule: {{ fertilizer }}?
        </p>
        <a href="{{ fertilizer.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Fertilizer Schedule</button>
    </form>
{% endblock %}
