{% extends 'plantjournal/base.html' %}

{% block title %}
    Error Deleting Fertilizer Schedule
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Fertilizer Schedule</h2>
        <p>
            You may not delete fertilizer schedule: {{ fertilizer }}.
            This fertilizer schedule is currently used with the
            following plants:
        </p>

        <ul>
            {% for plant in plants %}
            <li><a href="{{ plant.get_absolute_url }}">{{ plant }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'plantjournal_fertilizer_list_urlpattern' %}">Fertilizer Schedule List</a>.
        </p>
    </div>
{% endblock %}
