{% extends 'plantjournal/base.html' %}

{% block title %}
    Growth Instance - {{ growth_instance }}
{% endblock %}

{% block content %}
    <h2>{{ growth_instance }}</h2>
    <ul>
        <li>
            <a href="{{ growth_instance.get_update_url }}">
                Edit Growth Instance
            </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Plant:</th>
                <td><a href="{{ plant.get_absolute_url }}">{{ plant }}</a></td>
            </tr>
            <tr>
                <th>Growth Type:</th>
                <td><a href="{{ growth_type.get_absolute_url }}">{{ growth_type }}</a></td>
            </tr>
        </table>
    </section>

{% endblock %}
