{% extends 'plantjournal/base.html' %}

{% block title %}
    Light Type - {{ light }}
{% endblock %}

{% block content %}
    <h2>Light Type - {{ light }}</h2>

    <section>
        <h3>Plants</h3>
        <ul>
            {% for plant in plant_list %}
                <li>
                    <a href="">{{ plant }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no plants with this light type.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
