{% extends 'plantjournal/base.html' %}

{% block title %}
    Location - {{ location }}
{% endblock %}

{% block content %}
    <h2>Location - {{ location }}</h2>
    <ul>
        <li>
            <a href="{{ location.get_update_url }}">
                Edit Location
            </a>
        </li>
    </ul>

    <section>
        <h3>Plants</h3>
        <ul>
            {% for plant in plant_list %}
                <li>
                    <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no plants in this location.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
