{% extends 'plantjournal/base.html' %}

{% block title %}
    Plant List
{% endblock %}

{% block content %}
    <h2>Plant List</h2>
    <div>
        <a href="{% url 'plantjournal_plant_create_urlpattern' %}">
            Create New Plant
        </a>
    </div>
    <ul>
        {% for plant in plant_list %}
            <li>
                <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no plants available.</em></li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <ul>
            {% if previous_page_url %}
                <li>
                    <a href="{{ previous_page_url }}">
                        Previous</a>
                </li>
            {% endif %}
            <li>
                Page {{ plant_list.number }}
                of {{ paginator.num_pages }}
            </li>
            {% if next_page_url %}
                <li>
                    <a href="{{ next_page_url }}">
                        Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
