{% extends 'plantjournal/base.html' %}

{% block title %}
    Soil Type List
{% endblock %}

{% block content %}
    <h2>Soil Type List</h2>
    <div>
        <a href="{% url 'plantjournal_soil_create_urlpattern' %}">
            Create New Soil Type
        </a>
    </div>
    <ul>
        {% for soil in soil_list %}
            <li>
                <a href="{{ soil.get_absolute_url }}">{{ soil }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no soil types available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
