{% extends 'plantjournal/base.html' %}

{% block title %}
    Watering Schedule - {{ water }}
{% endblock %}

{% block content %}
    <h2>Watering Schedule - {{ water }}</h2>
    <ul>
        <li>
            <a href="{{ water.get_update_url }}">
                Edit Water Schedule
            </a>
        </li>
    </ul>

    <section>
        <h3>Plants</h3>
        <ul>
            {% for plant in plant_list %}
                <li>
                    <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no plants with this watering schedule.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
