{% extends 'plantjournal/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two eight columns">
            <h2>About</h2>
            <p>PlantJournal - a plant catalog system - is a web application which
            allows for easy tracking of all the needs of your plants! You can
            add plants and keep track of what light, water, fertilizer, and other
            things all of your plants need to thrive. It comes with the capability
            to add notes about your plants, and to keep track of any new growth that
            your plants display, as well as keeping track of basic information such
            as what kinds of flowers your plants make and whether or not each plant
            is toxic or non-toxic. This application is implemented using
            <a href="https://www.djangoproject.com">Django</a>.</p>
        </div>
    </div>
{% endblock %}
