{% extends 'plantjournal/base.html' %}

{% block title %}
    Fertilizer Schedule List
{% endblock %}

{% block content %}
    <h2>Fertilizer Schedule List</h2>
    <div>
        <a href="{% url 'plantjournal_fertilizer_create_urlpattern' %}"
        class="button button-primary">
            Create New Fertilizer Schedule
        </a>
    </div>
    <ul>
        {% for fertilizer in fertilizer_list %}
            <li>
                <a href="{{ fertilizer.get_absolute_url }}">{{ fertilizer }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no fertilizer schedules available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
