{% extends 'plantjournal/base.html' %}

{% block title %}
    Fertilizer Schedule - {{ fertilizer }}
{% endblock %}

{% block content %}
    <h2>Fertilizer Schedule - {{ fertilizer }}</h2>
    <ul>
        <li>
            <a href="{{ fertilizer.get_update_url }}" class="button">
                Edit Fertilizer Schedule
            </a>
        </li>
        <li>
            <a href="{{ fertilizer.get_delete_url }}" class="button">
                Delete Fertilizer Schedule
            </a>
        </li>
    </ul>

    <section>
        <h3>Plants</h3>
        <ul>
            {% for plant in plant_list %}
                <li>
                    <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no plants with this fertilizer schedule.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
