{% extends 'plantjournal/base.html' %}

{% block title %}
    Flower - {{ flower }}
{% endblock %}

{% block content %}
    <h2>Flower - {{ flower }}</h2>
    <ul>
        <li>
            <a href="{{ flower.get_update_url }}" class="button">
                Edit Flower
            </a>
        </li>
        <li>
            <a href="{{ flower.get_delete_url }}" class="button">
                Delete Flower
            </a>
        </li>
    </ul>

    <section>
        <h3>Plants</h3>
        <ul>
            {% for plant in plant_list %}
                <li>
                    <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no plants with this flower.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
