{% extends 'plantjournal/base.html' %}

{% block title %}
    Flower List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_flower %}
        <a href="{% url 'plantjournal_flower_create_urlpattern' %}"
           class="button button-primary">
            Create New Flower
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Flower List</h2>
    {% if perms.plantjournal.add_flower %}
        <div class="mobile">
            <a href="{% url 'plantjournal_flower_create_urlpattern' %}"
               class="button button-primary">
                Create New Flower
            </a>
        </div>
    {% endif %}
    <ul>
        {% for flower in flower_list %}
            <li>
                <a href="{{ flower.get_absolute_url }}">{{ flower }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no flowers available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
