{% extends 'plantjournal/base.html' %}

{% block title %}
    Growth Type List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_growthtype %}
        <a href="{% url 'plantjournal_growthtype_create_urlpattern' %}"
           class="button button-primary">
            Create New Growth Type
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Growth Type List</h2>
    {% if perms.plantjournal.add_growthtype %}
        <div class="mobile">
            <a href="{% url 'plantjournal_growthtype_create_urlpattern' %}"
               class="button button-primary">
                Create New Growth Type
            </a>
        </div>
    {% endif %}
    <ul>
        {% for growthtype in growthtype_list %}
            <li>
                <a href="{{ growthtype.get_absolute_url }}">{{ growthtype }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no growth types available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
