{% extends 'plantjournal/base.html' %}

{% block title %}
    Growth Instance - {{ growthinstance }}
{% endblock %}

{% block content %}
    <h2>{{ growthinstance }}</h2>
    <ul>
        <li>
            <a href="{{ growthinstance.get_update_url }}">
                Edit Growth Instance
            </a>
        </li>
        <li>
            <a href="{{ growthinstance.get_delete_url }}">
                Delete Growth Instance
            </a>
        </li>
    </ul>

    <section>
        <table>
            <tr>
                <th>Plant:</th>
                <td><a href="{{ plant.get_absolute_url }}">{{ plant }}</a></td>
            </tr>
            <tr>
                <th>Growth Type:</th>
                <td><a href="{{ growthtype.get_absolute_url }}">{{ growthtype }}</a></td>
            </tr>
        </table>
    </section>

{% endblock %}
