{% extends 'plantjournal/base.html' %}

{% block title %}
    Error Deleting Growth Type
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Growth Type</h2>
        <p>
            You may not delete growth type: {{ growthtype }}.
            This growth type is currently used with the
            following growth instances:
        </p>

        <ul>
            {% for growthinstance in growthinstances %}
            <li><a href="{{ growthinstance.get_absolute_url }}">{{ growthinstance }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'plantjournal_growthtype_list_urlpattern' %}">Growth Type List</a>.
        </p>
    </div>
{% endblock %}
