{% extends 'plantjournal/base.html' %}

{% block title %}
    Growth Type List
{% endblock %}

{% block content %}
    <h2>Growth Type List</h2>
    <div>
        <a href="{% url 'plantjournal_growth_type_create_urlpattern' %}">
            Create New Growth Type
        </a>
    </div>
    <ul>
        {% for growth_type in growth_type_list %}
            <li>
                <a href="{{ growth_type.get_absolute_url }}">{{ growth_type }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no growth types available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
