{% extends 'plantjournal/base.html' %}

{% block title %}
    Delete Growth Instance
{% endblock %}

{% block content %}
    <form
        action="{{ growthinstance.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <p>
            Are you sure that you want to delete
            growth instance: {{ growthinstance }}?
        </p>
        <a href="{{ growthinstance.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Growth Instance</button>
    </form>
{% endblock %}
