{% extends 'plantjournal/base.html' %}

{% block title %}
    Growth Instance List
{% endblock %}

{% block content %}
    <h2>Growth Instance List</h2>
    <div>
        <a href="{% url 'plantjournal_growthinstance_create_urlpattern' %}"
        class="button button-primary">
            Create New Growth Instance
        </a>
    </div>
    <ul>
        {% for growthinstance in growthinstance_list %}
            <li>
                <a href="{{ growthinstance.get_absolute_url }}">{{ growthinstance }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no growth instances available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
