{% extends 'plantjournal/base.html' %}

{% block title %}
    Humidity Level List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_humidity %}
        <a href="{% url 'plantjournal_humidity_create_urlpattern' %}"
           class="button button-primary">
            Create New Humidity Level
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Humidity Level List</h2>
    {% if perms.plantjournal.add_humidity %}
        <div class="mobile">
            <a href="{% url 'plantjournal_humidity_create_urlpattern' %}"
               class="button button-primary">
                Create New Humidity Level
            </a>
        </div>
    {% endif %}
    <ul>
        {% for humidity in humidity_list %}
            <li>
                <a href="{{ humidity.get_absolute_url }}">{{ humidity }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no humidity levels available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
