{% extends 'plantjournal/base.html' %}

{% block title %}
    Light Type List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_light %}
        <a href="{% url 'plantjournal_light_create_urlpattern' %}"
           class="button button-primary">
            Create New Light Type
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Light Type List</h2>
    {% if perms.plantjournal.add_light %}
        <div class="mobile">
            <a href="{% url 'plantjournal_light_create_urlpattern' %}"
               class="button button-primary">
                Create New Light Type
            </a>
        </div>
    {% endif %}
    <ul>
        {% for light in light_list %}
            <li>
                <a href="{{ light.get_absolute_url }}">{{ light }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no light types available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
