{% extends 'plantjournal/base.html' %}

{% block title %}
    Error Deleting Location
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Location</h2>
        <p>
            You may not delete location: {{ location }}.
            This location is currently used with the
            following plants:
        </p>

        <ul>
            {% for plant in plants %}
            <li><a href="{{ plant.get_absolute_url }}">{{ plant }}</a></li>
            {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'plantjournal_location_list_urlpattern' %}">Location List</a>.
        </p>
    </div>
{% endblock %}
