{% extends 'plantjournal/base.html' %}

{% block title %}
    Location - {{ location }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>Location - {{ location }}</h2>
                <ul class="inline">
                    {% if perms.plantjournal.change_location %}
                        <li>
                            <a href="{{ location.get_update_url }}" class="button">
                                Edit Location
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.plantjournal.delete_location %}
                        <li>
                            <a href="{{ location.get_delete_url }}" class="button">
                                Delete Location
                            </a>
                        </li>
                    {% endif %}
                </ul>

                <section>
                    <h3>Plants</h3>
                    <ul>
                        {% for plant in plant_list %}
                            <li>
                                <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
                            </li>
                        {% empty %}
                            <li><em>There are currently no plants in this location.</em></li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </article>
{% endblock %}
