{% extends 'plantjournal/base.html' %}

{% block title %}
    Note List
{% endblock %}

{% block content %}
    <h2>Note List</h2>
    <div>
        <a href="{% url 'plantjournal_note_create_urlpattern' %}">
            Create New Note
        </a>
    </div>
    <ul>
        {% for note in note_list %}
            <li>
                <a href="{{ note.get_absolute_url }}">{{ note }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no notes available.</em></li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
        <ul>
            {% if previous_page_url %}
                <li>
                    <a href="{{ previous_page_url }}">
                        Previous</a>
                </li>
            {% endif %}
            <li>
                Page {{ note_list.number }}
                of {{ paginator.num_pages }}
            </li>
            {% if next_page_url %}
                <li>
                    <a href="{{ next_page_url }}">
                        Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
