{% extends 'plantjournal/base.html' %}

{% block title %}
    Note - {{ note }}
{% endblock %}

{% block content %}
    <h2>{{ note }}</h2>
    <ul>
        <li>
            <a href="{{ note.get_update_url }}" class="button">
                Edit Note
            </a>
        </li>
        <li>
            <a href="{{ note.get_delete_url }}" class="button">
                Delete Note
            </a>
        </li>
    </ul>

    <section>
        <p><em>(This note is associated with the plant:
            <a href="{{ plant.get_absolute_url }}">{{ plant }})</a>
        </em></p>
    </section>

    <section>
        <p>
            {{ note.note_body }}
        </p>
    </section>

{% endblock %}
