{% extends 'plantjournal/base.html' %}

{% block title %}
    Plant List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_plant %}
        <a href="{% url 'plantjournal_plant_create_urlpattern' %}"
           class="button button-primary">
            Create New Plant
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Plant List</h2>
    {% if perms.plantjournal.add_plant %}
        <div class="mobile">
            <a href="{% url 'plantjournal_plant_create_urlpattern' %}"
               class="button button-primary">
                Create New Plant
            </a>
        </div>
    {% endif %}
    <ul>
        {% for plant in plant_list %}
            <li>
                <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no plants available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
