{% extends 'plantjournal/base.html' %}

{% block title %}
    Soil Type List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_soil %}
        <a href="{% url 'plantjournal_soil_create_urlpattern' %}"
           class="button button-primary">
            Create New Soil Type
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Soil Type List</h2>
    {% if perms.plantjournal.add_soil %}
        <div class="mobile">
            <a href="{% url 'plantjournal_soil_create_urlpattern' %}"
               class="button button-primary">
                Create New Soil Type
            </a>
        </div>
    {% endif %}
    <ul>
        {% for soil in soil_list %}
            <li>
                <a href="{{ soil.get_absolute_url }}">{{ soil }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no soil types available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
