{% extends 'plantjournal/base.html' %}

{% block title %}
    Toxicity - {{ toxicity }}
{% endblock %}

{% block content %}
    <h2>Toxicity - {{ toxicity }}</h2>
    <ul>
        <li>
            <a href="{{ toxicity.get_update_url }}" class="button">
                Edit Toxicity
            </a>
        </li>
        <li>
            <a href="{{ toxicity.get_delete_url }}" class="button">
                Delete Toxicity
            </a>
        </li>
    </ul>

    <section>
        <h3>Plants</h3>
        <ul>
            {% for plant in plant_list %}
                <li>
                    <a href="{{ plant.get_absolute_url }}">{{ plant }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no plants with this toxicity.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
