{% extends 'plantjournal/base.html' %}

{% block title %}
    Toxicity List
{% endblock %}

{% block create_button %}
    {% if perms.plantjournal.add_toxicity %}
        <a href="{% url 'plantjournal_toxicity_create_urlpattern' %}"
           class="button button-primary">
            Create New Toxicity
        </a>
    {% endif %}
{% endblock %}

{% block org_content %}
    <h2>Toxicity List</h2>
    {% if perms.plantjournal.add_toxicity %}
        <div class="mobile">
            <a href="{% url 'plantjournal_toxicity_create_urlpattern' %}"
               class="button button-primary">
                Create New Toxicity
            </a>
        </div>
    {% endif %}
    <ul>
        {% for toxicity in toxicity_list %}
            <li>
                <a href="{{ toxicity.get_absolute_url }}">{{ toxicity }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no toxicities available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
