{% extends 'plantjournal/base.html' %}

{% block title %}
    Watering Schedule List
{% endblock %}

{% block content %}
    <h2>Watering Schedule List</h2>
    <div>
        <a href="{% url 'plantjournal_water_create_urlpattern' %}"
        class="button button-primary">
            Create New Watering Schedule
        </a>
    </div>
    <ul>
        {% for water in water_list %}
            <li>
                <a href="{{ water.get_absolute_url }}">{{ water }}</a>
            </li>
        {% empty %}
            <li><em>There are currently no watering schedules available.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
